<div class="container2">
    


    <form method="POST" action="/" class="form" role="form" style="border-style: solid; border-radius: 25px;"> 

        <div class="form-group  required" style="padding: 20px;">
            <input type="text" name="query" style="align-items: center;">
        <br><br>
        <input class="btn-btn-primary" type="submit" name="action" value="1st Edition">
        <input class="btn-btn-primary" type="submit" name="action" value="2nd Edition">
        <br><br>

        </div>



   </form>

</div>
