{% extends 'base.html' %}

{% block content %}
<style>
form.search_form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.search_form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search_form button:hover {
  background: #0b7dda;
}

<!--form.search_form::after {
  content: "";
  clear: both;
  display: table;
}-->
</style>

<h3> Defoe Queries </h3>
<hr style="width:50%;text-align:left;margin-left:0">
 
    <p> Select the <strong> defoe query </strong> that you would to run, and introduce your configurations:</p>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Load icon library -->
        <form method="POST" action="/defoe_queries"> 
           <label>Select Defoe Query</label>
             <select name="defoe_selection" data-live-search="true" id="defoe_selection" class="form-control" title="Select Defoe Query"> 
                {% for key, value in defoe_q.items() %}
	             <option value="{{key}}">{{ value }}</option>
		 {% endfor %}
              </select>
  	    <button type="submit"><i class="fa fa-search"></i></button>
         </form>

         <form action ="/defoe_queries" method = "POST" enctype="multipart/form-data" in your form.>
             <input type = "file" name = "file" >
             <input type = "submit" value=Upload File>
         </form> 


       

{% endblock %}

