{% extends 'base.html' %}

{% block content %}
<style>

form.search_form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: hidden;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

.input1 {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;
      }

form.search_form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search_form button:hover {
  background: #0b7dda;
}

<!--form.search_form::after {
  content: "";
  clear: both;
  display: table;
}-->
</style>


<h3> Defoe Queries </h3>
<hr style="width:50%;text-align:left;margin-left:0">

 
    <p> Select the <strong> defoe query </strong> that you would to run, and introduce your configurations:</p>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Load icon library -->
         <form action ="/defoe_queries" method = "POST" enctype="multipart/form-data">
            <div>
    	     	<label for="defoe_selection">Defoe query</label>
             	<select name="defoe_selection" id="defoe_selection"> 
                {% for key, value in defoe_q.items() %}
	         <option value="{{key}}">{{ value }}</option>
		 {% endfor %}
              	</select>
              	<input type="text" id="description" class="input1" value="It counts the number of terms/words in which kewyords/keysentences appear. It groups results by years." size="120" readonly>
              <br>
              <hr style="width:50%;text-align:left;margin-left:0">
           </div>
             <div class="prep_div">
    	        <label for="preprocess">Preprocess Treatment</label> <br>
			<input type="radio" id="none" name="preprocess" value="none">
  				<label for="none">None</label><br>
  			<input type="radio" id="normalize" name="preprocess" value="normalize">
  				<label for="normalize">Normalize</label><br>
  			<input type="radio" id="normalize_num" name="preprocess" value="normalize_num">
  				<label for="normalize_num">Normalize & Numbers</label> <br>
  			<input type="radio" id="lemmatize" name="preprocess" value="lemmatize" checked="checked">
  				<label for="lemmatize">Normalize & Lemmatize</label><br>
  			<input type="radio" id="stem" name="preprocess" value="stem">
  				<label for="stem">Normalize & Stemming</label> <br>
     
              <input type="text" id="description_p" class="input1" value="It normalizes the text first and lemmatizes it later, returning the base (lemma) of each word." size="120" readonly>
              <hr style="width:50%;text-align:left;margin-left:0">

              </div>
               <div class="hit_count_div">
    	       		<label for="hit_count">Select the hit count</label>
               			<select name="hit_count" id="hit_count">
	         			<option value=term>term</option>
	         			<option value=word>word</option>
               			</select> 
              	        <input type="text" id="description_hit" class="input1" value="It counts the number of times a keyword/keysentece appears in a term (article or topic)." size="120" readonly>
                	<br>
               		<hr style="width:50%;text-align:left;margin-left:0">
               </div>

               <div class="upload_div">
    	       		<label for="data">Upload your lexicon file</label>
               			<input type = "file" name = "file" >
              	        <input type="text" id="description_upload" class="input1" value="The file should contain a line per keyword and/or keysentence that you want to use in your query." size="120" readonly>
                	<br>
               		<hr style="width:50%;text-align:left;margin-left:0">
               </div>
             
  	       <div class="filter_div">
                	<p> <strong >Filtering Options</strong></p>
                         
                        <div>  
    	       		<label for="target_sentences">Introduce Target words/sentences separated by "," (Optional)</label>
                        <br/>
                                <textarea rows = "5" cols = "80" name = "target_sentences">
                                </textarea>

              	        <input type="text" id="target_upload" class="input1" value="Those are the list of words and/or sentences that must appear in a term in order to select it. Leave it empty to select all." size="120" readonly>
                	<br>
                	<br>
                        </div>  

    	       		<label for="target_filter"> Select term which contains </label> <br> 
		        <input type="radio" id="or" name="target_filter" value="or" checked="checked">
  				<label for="or"> Any of the target words/sentences </label><br>
  			<input type="radio" id="and" name="target_filter" value="and">
  				<label for="and"> All the target words/sentences </label><br>
               		<br>
                      
                         <div> 
               		<label for="start_year">Start Year (Optional)</label>
               			<input type="text" id="start_year" name="start_year" value=1771>
               		<label for="end_year">End Year (Optional)</label>
               			<input type="text" id="end_year" name="end_year" value=1771>
               		    <br>
                         </div>
               		<div class="snippet_div" style="display: none;">
               			<label for="window"> Snippet Window </label>
               				<input type="text" id="window" name="window" value=10>
               		</div> 
               </div>
            <br>
         <div>
         <input type="submit" value="Submit Defoe query"> 
         <br>
         <br>
         </div>
      

      	      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
       	      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
               <script>
                   $(document).ready(function() {
                      $("#defoe_selection").change(function() {
                           var defoe_q = $("#defoe_selection").val();

                           if($('#defoe_selection').val() == "frequency_keyseach_by_year") 
			     {
    				descrip = "It counts the number of terms/words in which appear your selected kewyords/keysentences. It groups results by years.";
                                 $('.prep_div').show();
                                 $('.hit_count_div').show();
                                 $('.upload_div').show();
                                 $('.filter_div').show();
                                 $('.snippet_div').hide();
			     }
			   else if ($('#defoe_selection').val() == "publication_normalized") 
			   {
    				descrip = "It extracts the number of volumes (books), pages and words per year.";
                                 $('.prep_div').hide();
                                 $('.hit_count_div').hide();
                                 $('.upload_div').hide();
                                 $('.filter_div').hide();
                                 $('.snippet_div').hide();
			   }
			   else if ($('#defoe_selection').val() == "uris_keysearch") 
			   {
    				descrip = "It extracts uris of terms in which appear your selected kewyords/keysentences. It groups results by uris.";
                                 $('.prep_div').show();
                                 $('.upload_div').show();
                                 $('.filter_div').show();
                                 $('.snippet_div').hide();
                                 $('.hit_count_div').hide();
			   }
			   else if ($('#defoe_selection').val() == "terms_snippet_keysearch_by_year") 
			   {
    				descrip = "It extracts snippets of terms definitions in which appear your selected kewyords/keysentences groupping results by years.";
                                 $('.prep_div').show();
                                 $('.hit_count_div').hide();
                                 $('.upload_div').show();
                                 $('.filter_div').show();
                                 $('.snippet_div').show();
			   }
			   else if ($('#defoe_selection').val() == "terms_fulltext_keysearch_by_year") 
			   {
    				descrip = "It extracts full text of terms definitions in which appear your selected kewyords/keysentences. It groups results by years.";
                                $('.prep_div').show();
                                 $('.hit_count_div').hide();
                                 $('.upload_div').show();
                                 $('.filter_div').show();
                                 $('.snippet_div').hide();
			   }
			   else { 

    				descrip = "work in progress";
                                 $('.prep_div').hide();
                                 $('.hit_count_div').hide();
                                 $('.upload_div').hide();
                                 $('.filter_div').hide();
                                 $('.snippet_div').hide();
                               }

                           $('#description').val(descrip);
                      });

                      $("#hit_count").change(function() {
                           if($('#hit_count').val() == "term")
                           { 
                              descrip_h =  "It counts the number of times a keyword/keysentece appears in a term (article or topic)." 
                           }
                           else 
                           { 
                              descrip_h =  "It counts the number of times a keyword/keysentence is detected across terms." 
                           }
                           $('#description_hit').val(descrip_h);
                    });
  

                   $("input[name='preprocess']").click(function() {
                           
                           if ($("#none").is(":checked")) 
                             {
                                descrip_p = "It does not apply any type of treatment to the text.";
                             }
                           else if ($("#normalize").is(":checked")) 
                           {
                                descrip_p = "It converts all words to lower-case removing all characters that are not 'a',...,'z'.";
                           }
                           else if ($("#normalize_num").is(":checked")) 
                           {
                                descrip_p = "It converts all words to lower-case removing all characters that are not 'a',...,'z' or '1',..,'9'.";
                           }
                           else if ($("#lemmatize").is(":checked")) 
                           {
                                descrip_p = "It normalizes the text first and lemmatizes it later, returning the base (lemma) of each word.";
                           }
                           else if ($("#stem").is(":checked")) 
                           {
                                descrip_p = "It normalizes the text first and applies stemming later, reducing words to their stem.";
                           }
                           
                           $('#description_p').val(descrip_p);
                      });

                  });
              </script>
         </form> 

{% endblock %}

