{% extends 'base.html' %}
{% block content %}
 <style>
  .button_style{
  float: left;
  height: 1%;
  padding: 15px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} 

</style>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Load icon library -->
        <form method="POST" action="/eb_details"> 
        <div class="row">
                <div class="col-md-4">
                    <label>Select Edition</label>
                    <select name="edition_selection" data-live-search="true" id="edition_selection" class="form-control" title="Select Edition"> 
                    {% for key, value in edList.items() %}
			 <option value="{{key}}">{{ value }}</option>
		    {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Select Volume</label>
                    <select name="volume_selection" data-live-search="true" id="volume_selection" class="form-control" title="Select Volume"> </select>
                </div>
  	        <button type="submit" class="button_style"><i class="fa fa-search"></i></button>
         </div>
         </form>

       
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
       <script>
       $(document).ready(function () {
                $("#edition_selection").selectpicker();
                $("#volume_selection").selectpicker();
    
                function load_data(type, edition_selection) {
                    $.ajax({
                        url: "/vol_details",
                        method: "POST",
                        data: { type: type, edition_selection: edition_selection},
                        dataType: "json",
                        success: function (data) { //alert(edition_selection)
                            var html = "";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                            }
                            if (type == "edData") {
                                $("#edition_selection").html(html);
                                $("#edition_selection").selectpicker("refresh");
                            } else {
                                $("#volume_selection").html(html);
                                $("#volume_selection").selectpicker("refresh");
                            }
                        },
                    });
                }
                $("#edition_selection").change(function() {
                    var edition_selection = $("#edition_selection").val();
                    load_data("volumeData", edition_selection);
                });
            });
        </script>




    {% if ed_r and ed_v %}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <tr><th>Edition </th>  <th> Details</th></tr>
        </thead>
        <tbody>
            {% for key, value in ed_r.items() %}
               <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <tr><th>Volume </th>  <th> Details</th></tr>
        </thead>
        <tbody>
            {% for key, value in ed_v.items() %}
               <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
