{% extends 'base.html' %}

{% block content %}
<style>
form.search_form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.search_form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search_form button:hover {
  background: #0b7dda;
}

<!--form.search_form::after {
  content: "";
  clear: both;
  display: table;
}-->
</style>
<h4> Evolution of Terms </h4>
<hr style="width:50%;text-align:left;margin-left:0">
    
    <p> Enter an <strong> URI of a term </strong> that you would like to see its evolution</p>
 
     <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- The form -->
        <form method="POST" action="/evolution_of_terms" class="search_form">
  	<input type="text" placeholder="Place an URI" name="resource_uri">
  	<button type="submit"><i class="fa fa-search"></i></button>

	</form> 

{% if results %}
  <br></br>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <sript src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <p> <strong> Details of this resource </strong> </p>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <tr> <th> URI </th> <th> Edtion </th> <th> Year </th> <th> Volume </th> <th> Term </th> <th> Original Definition</th> <th> Topic Modelling </th> <th> Sentiment_Score </th></tr>
        </thead>
        <tbody>
               <tr>
                    <th> 
                         <script>
                         var t_key="{{uri}}".split("/").pop();
                         if ("{{uri}}".includes("Article")){
                             document.write('<a href=/visualization_resources?termlink='+t_key + '&termtype=Article>'+ "{{uri}}"+'</a>');
                             }
                         else{
                             document.write('<a href=/visualization_resources?termlink='+t_key + '&termtype=Topic>'+ "{{uri}}"+'</a>');
                             }
                         </script>
                     </th>
                    <td> {{enum}} </td>
                    <td> {{year}} </td>
                    <td> {{vnum}} </td>
                    <td> {{term}} </td>
                    <td> <script>
                          var src = "{{definition}}";
                          var t = escapeUnicode(src);
                          var minimize_character_count = 100;
                          if(t.length > minimize_character_count ){
                          document.write(
                           t.slice(0,minimize_character_count )+'<span>... </span><a href="#" class="more">More</a>'+
                           '<span style="display:none;">'+ t.slice(minimize_character_count ,t.length)+' <a href="#" class="less">Less</a></span>'
                          );
                           }
                          else {
                          document.write(t);
                                }
                          $('a.more').click(function(event){
                            event.preventDefault();
                            $(this).hide().prev().hide();
                            $(this).next().show();
                           });

                           $('a.less').click(function(event){
                           event.preventDefault();
                           $(this).parent().hide().prev().show().prev().show();
                           });
                           function escapeUnicode(str) {
  return str.replace(/[\u00A0-\uffff]/gu, function (c) {
    return "\\u" + ("000" + c.charCodeAt().toString(16)).slice(-4)
  });
}
                         </script></td>
                    <td> 
                       <script>
                        var t="{{t_name}}"
			document.write('<a href=/topic_modelling?topic_name='+t + '>'+ t+'</a>'); 
                       </script>
                   </td>
                   <td> {{t_sentiment}} </td>
               </tr>
        </tbody>
       </table>
     

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
   <p> <strong> The evolution of {{term}} </strong> can be seen in this table. </p>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <tr> <th> URI </th> <th> Edtion </th> <th> Year </th> <th> Volume </th> <th> Term </th> <th> Definition</th> <th> Topic Modelling </th> <th> Similitud Rank </th> <th> Sentiment_Score </th></tr>
        </thead>
        <tbody>
            {% for key, value in results.items() %}
               <tr>
                    <th> <script>
                         var t_key="{{key}}".split("/").pop();
                         if ("{{key}}".includes("Article")){
                             document.write('<a href=/similar_terms?termlink='+t_key + '&termtype=Article>'+ "{{key}}"+'</a>');
                             }
                         else{
                             document.write('<a href=/similar_terms?termlink='+t_key + '&termtype=Topic>'+ "{{key}}"+'</a>');
                             }
                         </script>
                     </th>
                       {% for elemen in value %}
                          <td> <script>
                          var loop_ind = "{{loop.index}}" ;
                          var src = "{{elemen}}";
                          var t = escapeUnicode(src);
                          if (loop_ind == "6"){
                                document.write('<a href=/topic_modelling?topic_name='+t + '>'+ t+'</a>');
                          }
                          else{       
                              var minimize_character_count = 100;    
                              if(t.length > minimize_character_count ){
                              document.write(
                              t.slice(0,minimize_character_count )+'<span>... </span><a href="#" class="more">More</a>'+
                              '<span style="display:none;">'+ t.slice(minimize_character_count ,t.length)+' <a href="#" class="less">Less</a></span>'
                              );
                              }
                             else {
                                  document.write(t);
                                }
                             }
                              $('a.more').click(function(event){
        		      event.preventDefault();
        		      $(this).hide().prev().hide();
        		      $(this).next().show();        
                              });

                             $('a.less').click(function(event){
                             event.preventDefault();
                              $(this).parent().hide().prev().show().prev().show();    
                             });
                           function escapeUnicode(str) {
  return str.replace(/[\u00A0-\uffff]/gu, function (c) {
    return "\\u" + ("000" + c.charCodeAt().toString(16)).slice(-4)
  });
}
	                 </script></td>
                      {% endfor %}
               </tr>
            {% endfor %}
        </tbody>
    </table>
   
 {% if bar_plot %}

 <h4> Topic Modelling Visualizations </h4>
   <div class="chart" id="bargraph">
    <script>
        var graphs = {{bar_plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
   </div>
 {% endif %}
 {% if heatmap_plot %}
   <div class="chart" id="heatmap">
    <script>
        var graphs = {{heatmap_plot | safe}};
        Plotly.plot('heatmap',graphs);
    </script>
  </div>
 </div>
 {% endif %}

{% endif %}

{% endblock %}

