{% extends 'base.html' %}

{% block content %}
<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.search_form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.search_form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search_form button:hover {
  background: #0b7dda;
}

form.search_form::after {
  content: "";
  clear: both;
  display: table;
}
</style>
 
    <p> Enter the <strong> term </strong> that you would like to search for:</p>

     <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- The form -->
        <form method="POST" action="/" class="search_form">
  	<input type="text" placeholder="Search term" name="search">
  	<button type="submit"><i class="fa fa-search"></i></button>
	</form> 


{% endblock %}

