{% extends 'base.html' %}
    {% block head %}
	<style type="text/css">
		.node {
		  stroke: #fff;
		  fill:#ddd;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .6;
		  stroke-width: 1px;
		}


		.node-text {
		  font: 12px sans-serif;
		  fill:black;
		}

		.link-text {
		  font: 12px sans-serif;
		  fill:blue;
		}
		
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script>
		function filterNodesById(nodes,id){
			return nodes.filter(function(n) { return n.id === id; });
		}
		
		function triplesToGraph(triples){
		
			svg.html("");
			//Graph
			var graph={nodes:[], links:[]};
			
			//Initial Graph from triples
			triples.forEach(function(triple){
				var subjId = triple.subject;
				var predId = triple.predicate;
				var objId = triple.object;
				
				var subjNode = filterNodesById(graph.nodes, subjId)[0];
				var objNode  = filterNodesById(graph.nodes, objId)[0];
				
				if(subjNode==null){
					subjNode = {id:subjId, label:subjId, weight:1};
					graph.nodes.push(subjNode);
				}
				
				if(objNode==null){
					objNode = {id:objId, label:objId, weight:1};
					graph.nodes.push(objNode);
				}
			
				
				graph.links.push({source:subjNode, target:objNode, predicate:predId, weight:1});
			});
			
			return graph;
		}
		
		
		function update(){
			// ==================== Add Marker ====================
			svg.append("svg:defs").selectAll("marker")
			    .data(["end"])
			  .enter().append("svg:marker")
			    .attr("id", String)
			    .attr("viewBox", "0 -5 10 10")
			    .attr("refX", 30)
			    .attr("refY", -0.5)
			    .attr("markerWidth", 6)
			    .attr("markerHeight", 6)
			    .attr("orient", "auto")
			  .append("svg:polyline")
			    .attr("points", "0,-5 10,0 0,5")
			    ;
				
			// ==================== Add Links ====================
			var links = svg.selectAll(".link")
								.data(graph.links)
								.enter()
								.append("line")
									.attr("marker-end", "url(#end)")
									.attr("class", "link")
									.attr("stroke-width",1)
							;//links
			
			// ==================== Add Link Names =====================
			var linkTexts = svg.selectAll(".link-text")
		                .data(graph.links)
		                .enter()
		                .append("text")
							.attr("class", "link-text")
							.text( function (d) { return d.predicate; })
						;

				//linkTexts.append("title")
				//		.text(function(d) { return d.predicate; });
						
			// ==================== Add Link Names =====================
			var nodeTexts = svg.selectAll(".node-text")
		                .data(graph.nodes)
		                .enter()
		                .append("text")
							.attr("class", "node-text")
							.text( function (d) { return d.label; })
						;

				//nodeTexts.append("title")
				//		.text(function(d) { return d.label; });
			
			// ==================== Add Node =====================
			var nodes = svg.selectAll(".node")
								.data(graph.nodes)
								.enter()
								.append("circle")
									.attr("class", "node")
									.attr("r",8)
									.call(force.drag)
							;//nodes
		
			// ==================== Force ====================
			force.on("tick", function() {
				nodes
					.attr("cx", function(d){ return d.x; })
					.attr("cy", function(d){ return d.y; })
					;
				
				links
					.attr("x1", 	function(d)	{ return d.source.x; })
			        .attr("y1", 	function(d) { return d.source.y; })
			        .attr("x2", 	function(d) { return d.target.x; })
			        .attr("y2", 	function(d) { return d.target.y; })
			       ;
				   
				nodeTexts
					.attr("x", function(d) { return d.x + 12 ; })
					.attr("y", function(d) { return d.y + 3; })
					;
					

				linkTexts
					.attr("x", function(d) { return 4 + (d.source.x + d.target.x)/2  ; })
					.attr("y", function(d) { return 4 + (d.source.y + d.target.y)/2 ; })
					;
			});
			
			// ==================== Run ====================
			force
		      .nodes(graph.nodes)
		      .links(graph.links)
			  .charge(-500)
			  .linkDistance(300)
		      .start()
			  ;
		}
		
		
	</script>
   {% endblock %}
{% block content %}
<style>
form.search_form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.search_form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search_form button:hover {
  background: #0b7dda;
}

form.search_form::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<h3> Visualization of Resources </h3>
<hr style="width:50%;text-align:left;margin-left:0">

    <p> Enter the <strong> URI of a resource </strong> that you would like to visualize:</p>

     <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- The form -->
        <form method="POST" action="/visualization_resources" class="search_form">
  	<input type="text" placeholder="Place an URI" name="resource_uri">
  	<button type="submit"><i class="fa fa-search"></i></button>
	</form> 

  {% if g_results %}
     <br></br>
     <p> Visualization RDF graph for the resource <strong>{{uri}} </strong></p>
     <div id="svg-body" class="panel-body"></div>
  	<script>
 
        var triples = [{% for item in g_results %} { {%for key, value in item.items() %} "{{key}}":"{{value}}", {%endfor %}}, {% endfor %}];
	var svg = d3.select("#svg-body").append("svg")
				.attr("width", 1000)
				.attr("height", 700)
				;
				
	var force = d3.layout.force().size([1000, 700]);
	
	var graph = triplesToGraph(triples);
	
	update();
  	</script>
 {% endif %}
{% endblock %}
